In [2]:
import pandas as pd

In [10]:
df1 = pd.read_csv('Ahemdabad_Cleaned.csv')
df2 = pd.read_csv('Bangalore_Cleaned.csv')
df3 = pd.read_csv('Chandigarh_Cleaned.csv')
df4 = pd.read_csv('Chennai_Cleaned.csv')
df5 = pd.read_csv('Coimbatore_Cleaned.csv')
df6 = pd.read_csv('Delhi_Cleaned.csv')
df7 = pd.read_csv('Gurgaon_cleaned.csv')
df8 = pd.read_csv('Hyderabad_Cleaned.csv')
df9 = pd.read_csv('Jaipur_Cleaned.csv')
df10 = pd.read_csv('Kolkata_Cleaned.csv')
df11 = pd.read_csv('Lucknow_Cleaned.csv')
df12 = pd.read_csv('Mumbai_Cleaned.csv')
df13 = pd.read_csv('Nagpur_Cleaned.csv')
df14 = pd.read_csv('Noida_Cleaned.csv')
df15 = pd.read_csv('Patna_Cleaned.csv')
df16 = pd.read_csv('Pune_Cleaned.csv')
df17 = pd.read_csv('Surat_Cleaned.csv')
df18 = pd.read_csv('Vijayawada_Cleaned.csv')

In [12]:
df1.columns,df2.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'Area Type', 'State'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'Area Type', 'State'],
       dtype='object'))

In [14]:
df = pd.concat([df1, df2], ignore_index=True)

In [16]:
df = df[['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
           'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
           'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
           'State', 'Area Type']]

In [20]:
df.columns, df3.columns, df4.columns, df5.columns, df6.columns, df7.columns, df8.columns, df9.columns, df10.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'Area Type', 'State'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathrooms', 'Area (Sq.Ft.)', 'Balcony',
        'Clubhouse', 'Swimming Pool', 'Kids Play Areas', 'Parking', 'Area Type',
        'State'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'))

In [26]:
df = pd.concat([df, df3,df4,df5,df6,df7,df8,df9,df10], ignore_index=True)

In [28]:
s = df['State'].unique()
s

array(['Gujarat', 'Karnatka', 'Chandigarh', 'Tamil Nadu', 'Delhi',
       'Unknown', 'Telangana', 'Rajasthan', 'West Bengal'], dtype=object)

In [30]:
df.columns, df11.columns, df12.columns, df13.columns, df14.columns, df15.columns, df16.columns, df17.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type', 'Number of Bathrooms', 'Kids Play Areas'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'))

In [32]:
df = pd.concat([df, df11,df12,df13,df14,df15,df16,df17], ignore_index=True)

In [34]:
s = df['State'].unique()
s

array(['Gujarat', 'Karnatka', 'Chandigarh', 'Tamil Nadu', 'Delhi',
       'Unknown', 'Telangana', 'Rajasthan', 'West Bengal',
       'Uttar Pradesh', 'Maharashtra', 'Bihar'], dtype=object)

In [36]:
df18.columns, df.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type', 'Number of Bathrooms', 'Kids Play Areas'],
       dtype='object'))

In [92]:
df18 = df18.rename(columns={'Number of Bathrooms': 'Number of Bathroom'})

df18 = df18.rename(columns={'New Name': 'Kids Play Areas'})

In [96]:
df.columns , df18.columns

(Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
        'Swimming Pool', '"Kids Play Areas"', 'Parking', 'Area (Sq.Ft.)',
        'State', 'Area Type', 'Number of Bathrooms', 'Kids Play Areas'],
       dtype='object'),
 Index(['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
        'Number of Rooms', 'Number of Bathroom', 'Area (Sq.Ft.)', 'Balcony',
        'Clubhouse', 'Swimming Pool', 'Kids Play Areas', 'Parking', 'Area Type',
        'State'],
       dtype='object'))

In [100]:
column_order = ['City', 'Locality', 'Property Type', 'Price', 'Furnishing Status',
                'Number of Rooms', 'Number of Bathroom', 'Balcony', 'Clubhouse',
                'Swimming Pool', 'Kids Play Areas', 'Parking', 'Area (Sq.Ft.)',
                'State', 'Area Type']

# Reorder the columns of df2
df18 = df18[column_order]

In [102]:
s = df['State'].unique()
s

array(['Gujarat', 'Karnatka', 'Chandigarh', 'Tamil Nadu', 'Delhi',
       'Unknown', 'Telangana', 'Rajasthan', 'West Bengal',
       'Uttar Pradesh', 'Maharashtra', 'Bihar'], dtype=object)

In [104]:
df = pd.concat([df, df18], ignore_index=True)

In [106]:
s = df['State'].unique()
s

array(['Gujarat', 'Karnatka', 'Chandigarh', 'Tamil Nadu', 'Delhi',
       'Unknown', 'Telangana', 'Rajasthan', 'West Bengal',
       'Uttar Pradesh', 'Maharashtra', 'Bihar', 'Andhra Pradesh'],
      dtype=object)

In [110]:
df

,City,Locality,Property Type,Price,Furnishing Status,Number of Rooms,Number of Bathroom,Balcony,Clubhouse,Swimming Pool,"""Kids Play Areas""",Parking,Area (Sq.Ft.),State,Area Type,Number of Bathrooms,Kids Play Areas
0,Ahmedabad,Makarba,Residential,11500000.0,Furnished,3,3.0,Individual,0,0,0.0,2,1715.0,Gujarat,Built-up Area,NaN,NaN
1,Ahmedabad,Makarba,Residential,6500000.0,Unfurnished,2,2.0,Connected,0,0,1.0,1,1050.0,Gujarat,Saleable Area,NaN,NaN
2,Ahmedabad,Ambli Road,Residential,72100000.0,Semi-Furnished,5,5.0,Connected,0,0,0.0,4,4083.0,Gujarat,Carpet Area,NaN,NaN
3,Ahmedabad,Shela,Residential,13000000.0,Unfurnished,5,5.0,Connected,0,0,1.0,4,3100.0,Gujarat,Built-up Area,NaN,NaN
4,Ahmedabad,Bodakdev,Residential,15000000.0,Furnished,5,4.0,Room-attached,0,0,0.0,1,1800.0,Gujarat,Built-up Area,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52442,Vijayawada,Patamata,Residential,14900000.0,Semi-Furnished,3,3.0,Connected,0,0,NaN,1,2403.0,Andhra Pradesh,Saleable Area,NaN,0.0
52443,Vijayawada,Mutyalammapadu,Residential,9411599.0,Semi-Furnished,3,3.0,Individual,0,0,NaN,1,1400.0,Andhra Pradesh,Built-up Area,NaN,0.0
52444,Vijayawada,Kesarapalli,Residential,7500000.0,Furnished,2,2.0,Connected,0,0,NaN,4,1250.0,Andhra Pradesh,Built-up Area,NaN,0.0
52445,Vijayawada,Kesarapalli,Residential,4499000.0,Unfurnished,2,2.0,Room-attached,1,1,NaN,2,1266.0,Andhra Pradesh,Saleable Area,NaN,1.0
52446,Vijayawada,Kanuru,Residential,5400000.0,Unfurnished,2,2.0,Connected,0,0,NaN,0,1800.0,Andhra Pradesh,Plot Area,NaN,0.0

In [138]:
s = df['State'].unique()
s

array(['Gujarat', 'Karnatka', 'Chandigarh', 'Tamil Nadu', 'Delhi',
       'Unknown', 'Telangana', 'Rajasthan', 'West Bengal',
       'Uttar Pradesh', 'Maharashtra', 'Bihar', 'Andhra Pradesh'],
      dtype=object)

In [142]:
df

,City,Locality,Property Type,Price,Furnishing Status,Number of Rooms,Number of Bathroom,Balcony,Clubhouse,Swimming Pool,"""Kids Play Areas""",Parking,Area (Sq.Ft.),State,Area Type,Number of Bathrooms,Kids Play Areas
0,Ahmedabad,Makarba,Residential,11500000.0,Furnished,3,3.0,Individual,0,0,0.0,2,1715.0,Gujarat,Built-up Area,NaN,NaN
1,Ahmedabad,Makarba,Residential,6500000.0,Unfurnished,2,2.0,Connected,0,0,1.0,1,1050.0,Gujarat,Saleable Area,NaN,NaN
2,Ahmedabad,Ambli Road,Residential,72100000.0,Semi-Furnished,5,5.0,Connected,0,0,0.0,4,4083.0,Gujarat,Carpet Area,NaN,NaN
3,Ahmedabad,Shela,Residential,13000000.0,Unfurnished,5,5.0,Connected,0,0,1.0,4,3100.0,Gujarat,Built-up Area,NaN,NaN
4,Ahmedabad,Bodakdev,Residential,15000000.0,Furnished,5,4.0,Room-attached,0,0,0.0,1,1800.0,Gujarat,Built-up Area,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52442,Vijayawada,Patamata,Residential,14900000.0,Semi-Furnished,3,3.0,Connected,0,0,NaN,1,2403.0,Andhra Pradesh,Saleable Area,NaN,0.0
52443,Vijayawada,Mutyalammapadu,Residential,9411599.0,Semi-Furnished,3,3.0,Individual,0,0,NaN,1,1400.0,Andhra Pradesh,Built-up Area,NaN,0.0
52444,Vijayawada,Kesarapalli,Residential,7500000.0,Furnished,2,2.0,Connected,0,0,NaN,4,1250.0,Andhra Pradesh,Built-up Area,NaN,0.0
52445,Vijayawada,Kesarapalli,Residential,4499000.0,Unfurnished,2,2.0,Room-attached,1,1,NaN,2,1266.0,Andhra Pradesh,Saleable Area,NaN,1.0
52446,Vijayawada,Kanuru,Residential,5400000.0,Unfurnished,2,2.0,Connected,0,0,NaN,0,1800.0,Andhra Pradesh,Plot Area,NaN,0.0

In [144]:
duplicates = df[df.duplicated()]

In [146]:
print(f"Number of duplicate rows: {duplicates.shape[0]}")

Number of duplicate rows: 20347

In [158]:
real_estate_cleaned = df.drop_duplicates()

In [160]:
real_estate_cleaned

,City,Locality,Property Type,Price,Furnishing Status,Number of Rooms,Number of Bathroom,Balcony,Clubhouse,Swimming Pool,"""Kids Play Areas""",Parking,Area (Sq.Ft.),State,Area Type,Number of Bathrooms,Kids Play Areas
0,Ahmedabad,Makarba,Residential,11500000.0,Furnished,3,3.0,Individual,0,0,0.0,2,1715.0,Gujarat,Built-up Area,NaN,NaN
1,Ahmedabad,Makarba,Residential,6500000.0,Unfurnished,2,2.0,Connected,0,0,1.0,1,1050.0,Gujarat,Saleable Area,NaN,NaN
2,Ahmedabad,Ambli Road,Residential,72100000.0,Semi-Furnished,5,5.0,Connected,0,0,0.0,4,4083.0,Gujarat,Carpet Area,NaN,NaN
3,Ahmedabad,Shela,Residential,13000000.0,Unfurnished,5,5.0,Connected,0,0,1.0,4,3100.0,Gujarat,Built-up Area,NaN,NaN
4,Ahmedabad,Bodakdev,Residential,15000000.0,Furnished,5,4.0,Room-attached,0,0,0.0,1,1800.0,Gujarat,Built-up Area,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52442,Vijayawada,Patamata,Residential,14900000.0,Semi-Furnished,3,3.0,Connected,0,0,NaN,1,2403.0,Andhra Pradesh,Saleable Area,NaN,0.0
52443,Vijayawada,Mutyalammapadu,Residential,9411599.0,Semi-Furnished,3,3.0,Individual,0,0,NaN,1,1400.0,Andhra Pradesh,Built-up Area,NaN,0.0
52444,Vijayawada,Kesarapalli,Residential,7500000.0,Furnished,2,2.0,Connected,0,0,NaN,4,1250.0,Andhra Pradesh,Built-up Area,NaN,0.0
52445,Vijayawada,Kesarapalli,Residential,4499000.0,Unfurnished,2,2.0,Room-attached,1,1,NaN,2,1266.0,Andhra Pradesh,Saleable Area,NaN,1.0
52446,Vijayawada,Kanuru,Residential,5400000.0,Unfurnished,2,2.0,Connected,0,0,NaN,0,1800.0,Andhra Pradesh,Plot Area,NaN,0.0

In [162]:
real_estate_cleaned.to_csv('real_estate_cleaned.csv', index=False)